body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.topSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 320px;
}

.screen {
  width: 235px;
  height: 60px;
  border: black solid 2px;
  display: flex;
  flex-direction: column;
  color: white;
  text-align: right;
  font-weight: bold;
}

.previousScreen {
  height: 25px;
}

.currentScreen {
  height: 35px;
}

button {
  height: 70px;
  width: 70px;
  font-size: 20px;
  margin: 5px 5px;
  color: white;
  font-weight: bold;
  background-color: transparent;
  border-radius: 6px;
}

.calculator {
  background-image: linear-gradient(to bottom, dodgerblue, black);
  width: 370px;
  height: 420px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.number {
  border: 2px greenyellow solid;
  transition: all 0.15s;
}

.operator {
  border: 2px orange solid;
  transition: all 0.15s;
}

.equals, .clear {
  border: 2px red solid;
  transition: all 0.15s;
}

.decimal {
  border: 2px blue solid;
  transition: all 0.15s;
}

.clear {
  margin-right: 0px;
}

.title {
  margin-bottom: 15px;
  font-size: 35px;
}

.number:hover {
  background-color: greenyellow;
}

.operator:hover {
  background-color: orange;
}

.equals:hover, .clear:hover {
  background-color: red;
}

.decimal:hover {
  background-color: blue;
}